<!DOCTYPE html>
<html>
    <head>
        <style>
           body{ background-color:rgb(232, 139, 122);}
        </style>
        <title>
            REJECTED
        </title>
    </head>
    <body><center>
     
        <h1>
          <u>  Predicting chance of Admission</u>
        </h1>
        
        <h3>
            Prediction:<u>
                You Dont Have a Chance
                

                
            </u>
        </h3>
        
        <img src="{{ url_for('static', filename='images/thumbs-down.jpeg') }}" alt="thumbsdown"style=" height:50px; width:50px;">
        <br>
        <img src="{{ url_for('static', filename='images/rejected.jpeg') }}" alt="rejected"style=" height:280px; width:350px;">
    </center>
    </body>
</html>